<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Create Task</h1>
    <form action="" method="post">
      <input type="text" name="task" placeholder="enter your task" />
      <button type="submit">add task</button>
    </form>
    <table>
      <h2>My Tasks</h2>
      <tr>
        <th>Task</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      <!-- getting it from task router get task -->
      <% tasks.forEach(doc => {%>
      <tr>
        <td><%= doc.task%></td>

        <td>
          <button class="update-btn">
            <a href="/api/v1/taskRouter/task/<%= doc._id%>">Update</a>
          </button>
        </td>

        <td>
          <form
            action="/api/v1/taskRouter/task/<%= doc._id%>?_method=DELETE"
            method="post"
          >
            <button class="delete-btn" type="submit">delete</button>
          </form>
        </td>

        <%})%>
      </tr>
    </table>
  </body>
</html>
